html, body {
    overflow-x: hidden;
    user-select: none;
}


.headersection_bg{
    background: linear-gradient(106deg, #E0F5FA -1.4%, #FFFDE6 100.87%);
}

.functionworks_bg{
    opacity: 0.4;
    background: linear-gradient(180deg, #EBF9FF 0%, #F6F6FF 100%);
}